* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================== LOGIN STYLING ============================= */

.email-input:hover {
  color: #69b1ff !important;
  border-radius: 6px;
}

.email-input {
  outline: none;
}
.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #69b1ff;
}
.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #69b1ff;
}

/* ======================== PROFILE STYLING ================== */

.css-12bv7yg-MuiButtonBase-root-MuiButton-root {
  background-color: white !important;
}
.css-12bv7yg-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #ddd !important;
}

.css-1yo9slo-MuiToolbar-root {
  width: 98%;
  justify-content: space-between;
}
