* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================== LOGIN STYLING ============================= */

.email-input:hover {
  color: #69b1ff !important;
  border-radius: 6px;
}



.email-input {
  outline: none;
}
.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #69b1ff;
}
.input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #69b1ff;
}

/* ======================== PROFILE STYLING ================== */

.css-12bv7yg-MuiButtonBase-root-MuiButton-root {
  background-color: white !important;
}
.css-12bv7yg-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #ddd !important;
}

.css-1yo9slo-MuiToolbar-root {
  width: 100%;
  justify-content: space-between;
}
.inputbox input{
  border:none !important;
  width: 100%;
  height: 40px;
}
#basic-button{
  /* background-color: #ddd; */
  text-transform: none;
  color: white;

}
#basic-button:hover{
  background-color: #ddd;
  

}

.icon-bar{
  padding: 20px !important;
}


.favIcon{
  background-color: #e5a842 !important;
  /* box-shadow: 0px !important; */
}

.dashboard-card:hover .favIcon{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/*================================ selector form control styling =========================== */



.css-6hp17o-MuiList-root-MuiMenu-list{
  width: 180px;
}
.calender{
  font-size: 14px !important;
}

.calender-border .MuiOutlinedInput-notchedOutline{
  border: none !important;
}


@media screen and (max-width: 599px) {
 .MuiDrawer-docked .css-1f2xuhi-MuiDrawer-docked{
  position: absolute !important;
  bottom: 0px !important;
  top: 0px !important;
  z-index: 2 !important;
 }
}

.active .drawer-nav{
  background-color: #e5a842;
}

.user-menu{
  font-size: 14px !important;
}
.drawer-routes{
  text-decoration: none;
  color: white;
}

#basic-menu .MuiPaper-elevation8{
  left:1108px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
  padding: 0px !important;
}

.drawer-nav{
  width: 100% ;
  height: 50px;
  display: flex;
  align-items: center;
}
.drawer-nav:hover{
  background-color: #e5a842 !important;
  transition: all 300ms ease;

}

.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper{
  background-color: #383434;

}

/*= ======================== drawer top icons styling ========================== */

.drawer-icon-left .MuiSvgIcon-fontSizeMedium:hover{
  background-color: #e5a842;
  border-radius: 50%;
  transition: all 300ms ease;
}

.MuiSvgIcon-fontSizeMedium{
  border-radius: 50%;
}

/* ============= ACCORDIAN STYLIGN ====================== */


.accordion-master{
  background-color: #383434 !important ;
  color: white !important;
}

.accordion-master .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root{
  min-height: 64px;
}

.master-subheadings{
  display: flex;
}

.MuiAccordion-region .css-15v22id-MuiAccordionDetails-root{
  padding: 8px 45px 16px 47px !important;
} 

